@{
    ViewData["Title"] = "Add new";
}
<h2>Add a new product</h2>
 
<form class="form-add-product">
    <div class="form-group">
        <input type="text" class="form-control" id="prod-title" placeholder="Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="prod-desc" placeholder="Description">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="prod-price" placeholder="Price (ex: 9.98)">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="prod-img" placeholder="Image">
    </div>
    <button class="btn btn-primary btn__add-product-btn">Add</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".btn__add-product-btn").click(function(e){
                e.preventDefault();
                var title = $("#prod-title").val();
                var description = $("#prod-desc").val(); 
                var price = $("#prod-price").val();
                var image = $("#prod-image").val();

                $.ajax({
                    url: "/Home/CreateNewProduct",
                    type: "GET",
                    datatype: 'json',
                    data: { 
                        title: title, 
                        desc: description, 
                        price: price, 
                        img: image 
                    },
                    success: function (data, status, jqXHR) {
                        $(".form-add-product").prepend(
                            '<div class="alert alert-success">' +
                                '<strong>Your product has been successfully created!</strong>' +
                            '</div>'
                        );
                    },
                    error: function (jqXHR, status, err) {
                        $(".form-add-product").prepend(
                            '<div class="alert alert-danger">' +
                                '<strong>An error has been detected in your request. Please try again.</strong>' +
                            '</div>'
                        );
                    },
                    complete: function (jqXHR, status) {
                        //alert("Local completion callback.");
                    }
                })
            });


        });
    </script>
}