@{
    ViewData["Title"] = "Add new";
}
<h2>Add a new product</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Description">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Image url">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Price (ex: 97.99)">
    </div>
    <button onclick="location.href='@Url.Action("CreateNewProduct", "Home")'"  
        class="btn btn-primary btn__add-product-btn">Add</button>
</form>