@{
    ViewData["Title"] = "Edit";
}
<h2>Edit a product</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Description">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Image url">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Price (ex: 97.99)">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
