body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/*--------------------------------- custom css starts here -----------------------------------------*/
.row__product-row{
    text-align: center;
}

.product-row__product-col>.product-row__product-col-link{
    text-decoration: none;
}

.product-row__product-col{
     padding:10px 20px;
}

.product-col__product-element{
    padding:10px 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.product-col__product-element:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-col_product-img{
    max-width: 200px;
    max-height: 200px;
}

.product-col__product-title{
    font-size: 2rem;
    color:#202020;
}

.product-col__product-price{
    font-size: 1.5rem;
    color:#494949;
}

/*Products page*/
.product-col__product-image{
    max-width: 100%;
}

.product-col__product-add-to-cart-btn{
    margin: 10px 0 10px 0;
}

.product-col__product-price{
    font-size: 2rem;
    font-weight: bold;
}